body {
  font-family: "system-ui";
}

* {
  padding: 0;
  margin: 0;
}

.sections {
  gap: 10rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding: 5rem 0;
  background-color: #77f298;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
}
